*, *::before, *::after {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #FE81A1, #EC8DDE, #E0C6F3);
}

.App {
  height: 100vh;
  width: 100%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  color: #fafafa;
  font-size: 2.5rem;
  font-weight: bold;
}
.container-grid {
  width: 30%;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  margin: auto ;
  border: 2px solid #fafafa50;

}
.calculator-grid {
  
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(80px, auto) repeat(5, 80px);
}

.calculator-grid > button {
  border-radius: 1rem;
  border: 1px solid #fafafa50;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  outline: none;
  background-color: #fafafa75;
  margin: 3px
  ;
}

.calculator-grid > button:hover{
  background-color: #fafafa;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  margin-bottom: 0.5rem;
  background-color: #fafafa;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 1rem;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: #000000;
  font-size: 1.5rem;
}

.output .current-operand {
  color: #FE81A1;
  font-size: 2.5rem;
}
